<template>
	<div class="container">
		<form class="form-group mt-3">
			<table class="">
				<tr class="">
					<td><div class="">
						<input type="number" class="form-control" placeholder="ID" v-model="gameForm.id" />
					</div></td>
					<td><div class="">
						<input type="text" class="form-control" placeholder="Название" v-model="gameForm.name" />
					</div></td>
					<td><div class="">
						<input type="number" class="form-control" placeholder="Год" v-model="gameForm.year" />
					</div></td>
					<td><div class="">
						<input type="number" step="0.01" class="form-control" placeholder="Продолжительность" v-model="gameForm.duration" />
					</div></td>
					<td>
						<input type="submit" value="Добавить настольную игру" class="btn btn-success ml-3" v-on:click="addGame(gameForm)"/>
					</td>
				</tr>
			</table>
		</form>
		<table class="table mt-3">
		  <tr class="">
		    <th>ID</th>
		    <th>Название</th>
		    <th>Год</th>
		    <th>Продолжительность</th>
		    <th style="border-top: 0px;"></th>
		  </tr>
		  <tr v-for="item, i in games">
		      <td v-if="editGame !== item.id">{{ item.id }}</td>
		      <td v-if="editGame !== item.id">{{ item.name }}</a></td>
		      <td v-if="editGame !== item.id">{{ item.year }}</td>
		      <td v-if="editGame !== item.id">{{ item.duration }}</td>
					<td v-if="editGame !== item.id" style="border-top: 0px;">
						<button class="btn btn-edit" v-on:click="editGame = item.id">
  						<img src="../../static/img/edit.png" height="12px"/>
 					 </button>

						<button class="btn btn-edit" v-on:click="deleteGame(item.id)">
							<img src="../../static/img/delete.png" height="12px"/>
						</button>
					</td>
	        <td v-if="editGame === item.id"><input type="number" class="form-control" v-model="item.id" /></td>
	        <td v-if="editGame === item.id"><input class="form-control" v-model="item.name" /></td>
	        <td v-if="editGame === item.id"><input class="form-control" v-model="item.year" /></td>
	        <td v-if="editGame === item.id"><input class="form-control" v-model="item.duration" /></td>
	        <td v-if="editGame === item.id" style="border-top: 0px;">
						<button class="btn btn-success" v-on:click="updateGame(item)">
							Сохранить
						</button>
					</td>
					<td v-if="editGame === item.id" style="border-top: 0px;">
						<button class="btn btn-edit" v-on:click="disableEdit(item.id)">
							<img src="../../static/img/disableedit.png" height="20px"/>
						</button>
					</td>
		  </tr>
		</table>
	</div>
</template>

<script>
	import { apiUrl } from "../config";
	import { mapState } from 'vuex';

	export default {
		data(){
			return {
				apiUrl,
				editGame: null,
				gameForm: {
					id: "",
					name: "",
					year: "",
					duration: "",
				}
			}
		},
		mounted() {
			this.$nextTick(async () => {
				if (this.games.length === 0) {
					this.$router.push({name: "loader"});
				}
			});
		},
		methods: {
			deleteGame(id, i) {
				fetch("http://localhost:5000/api/game/" + id, {
					method: "DELETE",
					mode: 'cors'
				})
				.then(() => {
					this.games.splice(i, 1);
				})
			},
			updateGame(game) {
				fetch("http://localhost:5000/api/game/" + game.id, {
					body: JSON.stringify(game),
					method: "PUT",
					mode: 'cors',
					headers: {
						"Content-Type": "application/json",
					},
				})
				.then(() => {
					this.editGame = null;
				})
			},
			addGame(game) {
				fetch("http://localhost:5000/api/game", {
					body: JSON.stringify(game),
					method: "POST",
					mode: 'cors',
					headers: {
						"Content-Type": "application/json",
					},
				});
			},
			disableEdit(game) {
				this.editGame = null;
			}
		},
		computed: {
			...mapState({
				games: state => state.games
			})
		}
	}
</script>
